[MYSQL]
ADDRESS =
PORT =
USERNAME =
PASSWORD =
DATABASE_NAME =

[FLASK]
API_KEY =
BIND_ADDRESS=
BIND_PORT =
API_URL =  # URL or IP address of the server BadgeBot is running on.

[IMGUR]
CLIENT_SECRET =

[DISCORD]
TOKEN =

[LOGGING]
PATH=

